.example-card {
    width: auto;
    height: auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.mat-card{
    background-color: blue;
    border-top-left-radius: 6mm;
    border-top-right-radius: 6mm;
}
.row {
  border: rgb(25, 199, 103) solid;
}