
<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">


    <div>   
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Register</h2>
      
    </div>

<form class="space-y-8 " [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="space-y-8">
    

     

      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm font-medium text-gray-700"> First name </label>
          <div class="mt-1">
            <input formControlName="firstname" type="text" name="firstname" id="firstname" autocomplete="givenname" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            
            <div *ngIf="fields.firstname.invalid && (fields.firstname.dirty || fields.firstname.touched)"
            class="alert">
          
            <div *ngIf="fields.firstname.errors?.['required']">
               Firstname is required.
            </div>
            <div *ngIf="fields.firstname.errors?.['minlength']">
              Firstname must be at least 4 characters long.
            </div>
          </div>
          
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="lastname" class="block text-sm font-medium text-gray-700"> Last name </label>
          <div class="mt-1">
            <input formControlName="lastname" type="text" name="lastname" id="lastname" autocomplete="familyname" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            
            <div *ngIf="fields.lastname.invalid && (fields.lastname.dirty || fields.lastname.touched)"
            class="alert">
          
            <div *ngIf="fields.lastname.errors?.['required']">
               Lastname is required.
            </div>
            <div *ngIf="fields.lastname.errors?.['minlength']">
              Lastname must be at least 4 characters long.
            </div>
          </div>

          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="email" class="block text-sm font-medium text-gray-700"> Email address </label>
          <div class="mt-1">
            <input formControlName="email" id="email" name="email" type="email" autocomplete="email" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            <div *ngIf="fields.email.invalid && (fields.email.dirty || fields.email.touched)"
            class="alert">
            <div *ngIf="fields.email.errors?.['required']">Email is required</div>
            <div *ngIf="fields.email.errors?.['email']">This is not a Email</div>
            </div>
          </div>
        </div>

        <div class="form-group sm:col-span-3" >
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
           
          />
          <div *ngIf="fields.password.invalid && (fields.password.dirty || fields.password.touched)"
            class="alert">
          
            <div *ngIf="fields.password.errors?.['required']">
               Password is required.
            </div>
            <div *ngIf="fields.password.errors?.['minlength']">
              Password must be at least 4 characters long.
            </div>
          </div>

         
        </div>

        
       



       
        
      </div>
      <p class="text-center text-muted mt-5 mb-0">
        Have already an account?
        <a [routerLink]="['/login']" class="fw-bold text-body"
          ><u>Login here</u></a
        >
      </p>

  
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
     
      <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      [disabled] = "registerForm.invalid">Save</button>
    </div>
  </div>
</form>
</div>  
</div>  
