<!-- <!-- <p>artist-edit works!</p>
<form
  name="artistForm"
  autocomplete="off"
  [formGroup]="artistForm"
  (ngSubmit)="onArtistSubmit()"
  novalidate
>
<div class="form-group">
    <label for="name">Artist Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="Artist name"
      formControlName="name"
      name="name"
      required
      minlength="3"
    />
  </div>


  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="genre">Genre</label>
      <select
        class="custom-select mr-sm-2"
        id="genre"
        name="genre"
        formControlName="genre"
        required
      >
      <option value="Techno">Techno</option>
      <option value="Dupstep">Dupstep</option>
      <option value="Rock">Rock</option>
      <option value="Punk">Punk</option>
      <option value="Classic">Classic</option>
      <option value="HipHop">Hip Hop</option>
      </select>
      
    </div>
  </div>

  <div class="form-group">
    <label for="image">image url</label>
    <input
      type="text"
      class="form-control"
      placeholder="Image url"
      formControlName="image"
      name="image"
      required
      minlength="3"
    />
  </div>

  

  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="artistForm.invalid"
    >
      Save
    </button>
    <button type="button" class="btn btn-danger" routerLink="../">
      Cancel
    </button>
  </div>


</form> -->

<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
  <form class="space-y-8  justify-end"  
  name="artistForm"
  autocomplete="off"
  [formGroup]="artistForm"
  (ngSubmit)="onArtistSubmit()"
  novalidate>
  
      <div class="pt-8">
  
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">Edit Artist</h3>
          <p class="mt-1 text-sm text-gray-500">This artist wil be added to future concerts</p>
        </div>
  
        <div class="form-group">
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="name" class="block text-sm font-medium text-gray-700"> Name artist </label>
            <div class="mt-1">
              <input
              type="text"
              class="form-control"
              placeholder="Artist name"
              formControlName="name"
              name="name"
              required
              minlength="3"
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>
        </div>
   
  
          <div class="sm:col-span-1">
            <label for="genre" class="block text-sm font-medium text-gray-700"> Genre </label>
            <div class="mt-1">
              <select     class="custom-select mr-sm-2"
              id="genre"
              name="genre"
              formControlName="genre"
              required
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                <option value="Techno">Techno</option>
                <option value="Dupstep">Dupstep</option>
                <option value="Rock">Rock</option>
                <option value="Punk">Punk</option>
                <option value="Classic">Classic</option>
                <option value="HipHop">Hip Hop</option>
              </select>
            </div>
          </div>
    
  
          <div class="form-group">
            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <label for="image" class="block text-sm font-medium text-gray-700"> Image Url </label>
                <div class="mt-1">
                  <input
                  type="text"
                  class="form-control"
                  placeholder="Image url"
                  formControlName="image"
                  name="image"
                  required
                  minlength="3"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                </div>
              </div>
            </div>
            </div>  
       
  
         
        </div>
      </div>
      <div>
      </div>
      
  
    <div class="pt-5">
      <div class="flex justify-end">
   
        <button type="button" routerLink="../../list" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Cancel</button>
        <button type="submit"  class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
      </div>
    </div>
  </form>
  </div> 








