

<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
  <div class="grid grid-cols-3 gap-4">
<div class="col-span-2">
  <h1 class= "text-xl font-bold">Over deze applicatie</h1>
  <p>
    Deze applicatie is gemaakt in het kader van het vak 'Clientside web
    frameworks' van Avans Hogeschool Breda. Hierbij gaat het om een herkansing. Omdat het nu om een tussenresultaat gaat, heb ik heel wat featurs uitgezet en heb ik alleen de features aangezet die nodig zijn voor deze tussenresultaat.
  </p>
  <br/>
  <h3 class= "text-xl font-bold">ConcertCasus</h3>
  <p>
    Het project houdt als volgt in. Ik moet een angular applicatie maken waarbij
    ik een bepaald onderwerp toezeg. Ik heb bij dit project gekozen voor een
    ConcertCasus. Hierbij maak ik gebruik van 4 enititeiten namelijk: Artist,
    Concert, Music en natuurlijk de User.
    <br />
    <br />
    <li>
      De entiteit Artist wordt gebruikt, omdat hiermee de concert gevuld kan worden en tijdens een concert zullen artiesten verschillende muziek performen samen of alleen..
    </li>
    <li>
      Concert wordt gebruikt,omdat er een plek moet zijn om artisten te laten
      optreden en daarbij worden ook de muziek keuzes aangegeven.
    </li>

    <li>
      Music wordt gebruikt, omdat tijdens een concert verschillende muziek wordt gespeeld door verschillende artisten of dezelfde artist.
    </li>
    <li>
      User wordt gebruikt, omdat je hiermee kun authenticeren. De users zijn evenement orgranizers die concerten aanmaken en daarbij artisten eraan koppelen of maken daarnaast maken en deleten ze muziek en artiesten die zij hebben aangemaakt.
    </li>
  </p>
</div>

<div class="col-span-1">
  <div class="flex-wrap max-w-sm rounded overflow-hidden shadow-lg">
    <img
      class="w-full"
      src="assets\img\Atal_profiel.jpg"
      alt="Sunset in the mountains"
    />
  
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Atal Kakar</div>
      <p class="text-gray-700 text-base">Studentnummer: 2126643</p>
    </div>
  </div>
</div>
</div>

<img src="\assets\img\Er datamodel.jpeg">
Er werd gevraagd om een datamodel. Ik heb daarom een ER datamodel gebruikt.



  <h3 class= "text-xl font-bold">Entiteiten</h3>
  <div class="grid grid-flow-col grid-rows- grid-cols- gap-8">

    <div>
      <p>Concert</p>
      <ul>
        <li>_Id: string</li>
        <li>Name: string</li>
        <li>Artists: List Artist</li>
        <li>Date: date</li>
        <li>Adres: string</li>
      </ul>
    </div>
 <div>
    <p>Artist</p>
    <ul>
      <li>_Id: string</li>
      <li>Name: string</li>
      <li>Musics: List Music</li>
 
     
    </ul>
    </div>

    <div>
      <p>Music</p>
     
      <ul>
        <li>_Id: string</li>
        <li>Name: string</li>
        <li>Artist: List Artist</li>
        <li>Genre: string</li>
        <li>Duration: number</li>
        <li>Country: string</li>
      </ul>
    </div>
    <div>
      <p>User</p>
      <p></p>
      <ul>
        <li>Email: string</li>
        <li>Password: string</li>
        <li>Firstname: string</li>
        <li>Lastname: string</li>
      </ul>
    </div>
  </div>

  <br/>
  <br/>

  <h3 class= "text-2xl font-bold">Use Cases</h3>
  <p>De applicatie biedt de volgende functionaliteit.</p>
  <div class="grid grid-flow-col grid-rows-5 grid-cols-1 gap-8">
  <div *ngFor="let UC of useCases">
    <app-usecase [useCase]="UC"></app-usecase>
  </div>
</div>
  <p>
    Ik weet niet of dit genoeg use- cases zijn dit is alles wat er nu in me op
    komt.
  </p>
</div>

