<div *ngIf="msg && msg.type == 'success'">
  <div class="rounded-md bg-green-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <!-- Heroicon name: solid/exclamation -->
        
      </div>
      <div class="ml-3">
        <div class="mt-2 text-sm text-black-700 ">
          <p>{{ msg.text }}</p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div *ngIf="msg && msg.type == 'error'">
    <div class="rounded-md bg-red-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <!-- Heroicon name: solid/exclamation -->
          
        </div>
        <div class="ml-3">
          <div class="mt-2 text-sm text-black-700 ">
            <p>{{ msg.text }}</p>
          </div>
        </div>
      </div>
    </div>
    </div>



